* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    color: #222;
    background-color: #fff;
}

a {
    text-decoration: none;
    color: inherit;
}

.position {
    position: fixed;

    top: 0;
    left: 0;

    width: 100%;

    z-index: 9999;

    background: #fff;

    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}

.top-bar {
    height: 40px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8%;
    font-size: 11px;
    color: #777;
    border-bottom: 1px solid #eee;
}

.top-left {
    display: flex;
    gap: 30px;
}

.top-item {
    display: flex;
    align-items: center;
    gap: 10px;
}
.top-left span {
    display: flex;
    font-size: 14px;
    align-items: center;
    gap: 10px;
}

.top-item i {
    color: #f35525;
    font-size: 14px;
}

.social-icons {
    display: flex;
    gap: 10px;
}
.social-icons a {
    text-decoration: none;
}
.social-icons i {
    width: 22px;
    height: 22px;
    background: #d3d3d3;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    transition: 0.3s;
}

.social-icons a:hover {
    background-color: #f35525;
}

.navbar {
    height: 75px;

    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 0 8%;

    background-color: #fff;
}

.logo {
   font-size: 25px;
    font-weight: 800;
    letter-spacing: 1px;
}


.logo a:hover {
    color: #f35525;
}

.navbar nav {
    display: flex;

    align-items: center;

    gap: 40px;
}

.navbar nav a {
    color: #222;

    font-size: 13px;

    font-weight: 600;

    transition: 0.3s;
}

.navbar nav a:hover,
.navbar nav a.active {
    color: #f35525;
}

.schedule-btn {
    display: flex;

    align-items: center;

    background-color: #222;

    color: #fff;

    padding: 0 20px 0 0;

    border-radius: 25px;

    font-size: 12px;

    font-weight: 600;

    overflow: hidden;

    transition: 0.3s;
}

.schedule-btn:hover {
    background-color: #f35525;

    color: #fff;
}

.calendar {
    width: 38px;
    height: 38px;

    background-color: #f35525;

    display: flex;

    justify-content: center;

    align-items: center;

    border-radius: 50%;

    margin-right: 10px;
}

.calendar i {
    color: #fff;

    font-size: 14px;
}

.page-banner {
    height: 330px;

    margin-top: 115px;

    background-image:
        url("./page-heading-bg.jpg");

    background-size: cover;

    background-position: center;

    position: relative;

    display: flex;

    justify-content: center;

    align-items: center;
}

.banner-overlay {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.62);
}

.banner-content {
    position: relative;

    text-align: center;
}

.breadcrumb {
    display: inline-block;

    background-color: #fff;

    color: #222;

    padding: 9px 25px;

    font-size: 11px;

    font-weight: 600;

    margin-bottom: 20px;
}

.banner-content h1 {
    color: #fff;

    font-size: 40px;

    font-weight: 800;
}

.contact-section {
    padding: 80px 8%;
}

.contact-container {
    max-width: 1130px;

    margin: auto;

    display: grid;

    grid-template-columns: 1fr 1fr;

    gap: 90px;
}

.small-title {
    color: #f35525;

    font-size: 12px;

    font-weight: 700;

    margin-bottom: 15px;
}

.contact-left h2 {
    font-size: 32px;

    line-height: 1.35;

    font-weight: 800;

    margin-bottom: 25px;
}

.description {
    color: #666;

    font-size: 12px;

    line-height: 2;

    max-width: 510px;

    margin-bottom: 30px;
}

.info-box {
    width: 340px;

    min-height: 85px;

    margin-bottom: 20px;

    background-color: #fff;

    border-radius: 8px;

    box-shadow:
        0 5px 20px rgba(0, 0, 0, 0.10);

    display: flex;

    align-items: center;

    padding: 15px 22px;

    gap: 20px;
}

.info-icon {
    width: 45px;
    height: 45px;

    display: flex;

    justify-content: center;

    align-items: center;

    color: #f35525;

    font-size: 30px;
}

.info-box h3 {
    font-size: 15px;

    margin-bottom: 3px;
}

.info-box p {
    font-size: 11px;

    color: #aaa;
}

.contact-form {
    background-color: #fff;

    border-radius: 8px;

    padding: 28px;

    box-shadow:
        0 4px 20px rgba(0, 0, 0, 0.10);
}

.contact-form form {
    display: flex;

    flex-direction: column;
}

.contact-form label {
    font-size: 11px;

    color: #333;

    margin-bottom: 9px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;

    border: none;

    outline: none;

    background-color: #f5f5f5;

    border-radius: 25px;

    padding: 14px;

    font-family: "Poppins", sans-serif;

    font-size: 11px;

    margin-bottom: 20px;
}

.contact-form input {
    height: 42px;
}

.contact-form textarea {
    height: 105px;

    border-radius: 15px;

    resize: none;
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: 1px solid #f35525;
}

.contact-form button {
    width: 120px;

    height: 40px;

    border: none;

    border-radius: 25px;

    background-color: #222;

    color: #fff;

    font-family: "Poppins", sans-serif;

    font-size: 10px;

    font-weight: 600;

    cursor: pointer;

    transition: 0.3s;
}

.contact-form button:hover {
    background-color: #f35525;
}

.map-section {
    width: 84%;

    max-width: 1130px;

    height: 340px;

    margin: 0 auto 110px;

    overflow: hidden;

    border-radius: 8px;

    box-shadow:
        0 3px 15px rgba(0, 0, 0, 0.08);
}

.map-section iframe {
    width: 100%;

    height: 100%;

    border: 0;
}

footer {
    min-height: 80px;

    background-color: #222;

    display: flex;

    justify-content: center;

    align-items: center;

    text-align: center;

    padding: 20px;
}

footer p {
    color: #fff;

    font-size: 11px;
}

@media (max-width: 1000px) {

    .top-bar {
        padding: 0 5%;
    }

    .navbar {
        padding: 0 5%;
    }

    .navbar nav {
        gap: 18px;
    }

    .contact-container {
        grid-template-columns: 1fr;

        gap: 50px;
    }

    .contact-form {
        width: 100%;
    }

    .contact-left h2 {
        font-size: 30px;
    }
}

@media (max-width: 700px) {

    .top-left {
     display: none;
    }

    .navbar {
        height: auto;

        padding: 20px;

        flex-direction: column;

        gap: 20px;
    }

    .navbar nav {
        width: 100%;

        flex-direction: column;

        gap: 18px;
    }

    .schedule-btn {
        display: none;
    }

    .page-banner {
        height: 250px;

        margin-top: 220px;
    }

    .banner-content h1 {
        font-size: 30px;
    }

    .contact-section {
        padding: 50px 20px;
    }

    .contact-container {
        gap: 40px;
    }

    .info-box {
        width: 100%;
    }

    .contact-form {
        padding: 22px;
    }

    .map-section {
        width: calc(100% - 40px);

        height: 300px;

        margin-bottom: 60px;
    }

    footer {
        padding: 20px;

        line-height: 1.8;
    }
}